.sixth{
    margin-top: 60px;
}
.sixth1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
}
.sixth2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.sixth3{
    display: flex;
    justify-content: center;
}
.sixth3 button{
    border: #444;
    font-size: 40px;
    border-radius: 30px;
    margin-top: 40px;
    height: 70px;
    width: 300px;

}